@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* font-family: "Great Vibes", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
/* font-family: "Merienda", cursive; */
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* nav bar */
#home_page{
    flex-wrap: wrap;
}
nav{
    height: 15vh;
    display: flex;
    padding: 0px 20px;
    background-color: rgb(222, 184, 135);
}

#nav_one{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_one>h4 a{
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#nav_two{
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#nav_two>a{
    text-decoration: none;
    font-size: 25px;
    font-family: "Great Vibes", cursive;
    font-weight: 900;
    color: black;
}
#nav_three{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#nav_three>i{
    font-size: 25px;
    cursor: pointer;
}
#nav_three>#cart_quantity{
    display: flex;
    background-color: rgb(235, 205, 165);
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    position: relative;
    right: 25px;
    bottom: 16px;
}
#cart_price{
    font-size: 20px;
    font-family: "Merienda", cursive;
    font-weight: 400;
}


/* Home Section */

header{
    flex-wrap: wrap;
    height: 70vh;
    background-image: url("/assects/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85em;
    background-position-x: center;
    background-color: rgb(222, 184, 135); 
    background-attachment: fixed;
}
#discription{
    height: 100%;
    padding-top: 20px;
    background-color: rgb(222, 184, 135); 
    flex-wrap: wrap;
}
#info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
#info>h1{
    background-color: rgb(222, 184, 135); 
    font-size: 50px;
    font-family: "Great Vibes", cursive;
}
#info>p{
    font-family: "Great Vibes", cursive;
    font-size:26px;
}
#info>button{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    background-color:rgba(160, 81, 45, 0.7);
    color: white;
    font-family: "Merienda", cursive;
}
#info>button:hover{
    background-color: rgb(124, 2, 2);
    transition: 0.4s all ease-in-out;
    cursor:pointer;
}
#info>h2{
    font-family: "Great Vibes", cursive;
    font-size: 40px;
}
#food_items{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
img{
    height: 300px;
    width: 300px;
    transition: all 0.2s ease-in-out;   
    border-radius: 20px;
}
img:hover{
    scale: 1.1;
}
#address{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Merienda", cursive;
    flex-wrap: wrap;
    padding-top: 20px;
}
#address>h1{
    font-size: 45px;
    font-family: "Great Vibes", cursive;
}
#address>a{
    text-decoration: none;
    width: 500px;
    padding-left: 50px;
    color: firebrick;   
}
#address>a:hover{
    text-decoration: none;
    color: darkgoldenrod;   
}
#address>button{
    background-color:rgba(160, 81, 45, 0.7);
    border: none;
    border-radius: 10px;
    height: 25px;
    width:100px;
}
#address>button{
    background-color:rgba(207, 86, 30, 0.951);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
#address>button:hover{
    background-color:rgb(255, 81, 0);
}
#address button a{
    text-decoration: none;
    color: white;
}
#locationimg{
    height: 25px;
    width: 25px;
}